- var page = "Home"
include ../includes/header.jade

.sheet

  section
    h2 Cheatsheets

    .cheatsheet-links
      :markdown
        [AngularJS](angular.html)
        [AppleScript](applescript.html)
        [Bash](bash.html)
        [Bootstrap](bootstrap.html)
        [Characters](characters.html)
        [Chrome Dev Tools](chrome_dev_tools.html)
        [CSS](css.html)
        [EmberJS](EmberJS.html)
        [Emoji](http://www.emoji-cheat-sheet.com/)
        [Git](git.html)
        [GTD](gtd.html)
        [HAML](haml.html)
        [Handlebars](HandlebarsJs.html)
        [HTML](html.html)
        [Jade](jade.html)
        [JavaScript](javascript.html)
        [JavaScriptMVC](javascriptmvc.html)
        [JAWS](jaws.html)
        [jQuery](jquery.html)
        [Launchbar](launchbar.html)
        [LESS](less.html)
        [Mac OS X](mac.html)
        [Markdown](markdown.html)
        [MySQL](mysql.html)
        [OOCSS](oocss.html)
        [Photoshop](photoshop.html)
        [Pow](pow.html)
        [Processing](processing.html)
        [Rally](rally.html)
        [Regex](regex.html)
        [SASS](sass.html)
        [Sublime Text](sublimetext.html)
        [SuperCollider](supercollider.html)
        [VoiceOver](voiceover.html)
        [WCAG 2.0](wcag2.html)
        [Windows 8](windows8.html)
        [Workflowy](workflowy.html)


  section

    :markdown

      ##Links

      __Design__
      :: [Yahoo! Pattern Library](http://developer.yahoo.com/ypatterns)

      __Music__
      :: [iTunes](http://phobos.apple.com/WebObjects/MZStore.woa/wa/storeFront)
      :: [Pandora](http://pandora.com)
      :: [Discogs](http://discogs.com)
      :: [AllMusic](http://allmusic.com)

      __Creative__
      :: [kuler](http://kuler.adobe.com)
      :: [flickr](http://flickr.com)
      :: [processing](http://processing.org)
      :: [nodebox](http://nodebox.net)
      :: [soundcloud](http://soundcloud.com)

      __Stuff__
      :: [pinboard](http://pinboard.in/michai)
      :: [evernote](http://evernote.com)
      :: [feedly](http://feedly.com)
      :: [instapaper](http://www.instapaper.com/u)
      :: [Sketched-Books](http://sachachua.com/blog/sketched-books/)

      __Code__
      :: [github](http://github.com)
      :: [bitbucket](http://bitbucket.com)
      :: [gists](http://gist.github.com/mine)
      :: [stackoverflow](http://stackoverflow.com)
      :: [codepen](http://codepen.io)
      :: [browser bugs](http://marc.baffl.co.uk/bugs)
      :: [CSS test cases](http://meyerweb.com/eric/css/tests/)
      :: [CSS-discuss Wiki](http://css-discuss.incutio.com/wiki/Main_Page)
      :: [CSS-tricks: almanac](http://css-tricks.com/almanac/)
      :: [CSS-tricks: snippets](http://css-tricks.com/snippets/)
      :: [ThoughtBot Playbook](http://playbook.thoughtbot.com/)
      :: [JavaScript Garden](http://bonsaiden.github.io/JavaScript-Garden/)
      :: [JavaScript for Automation](https://github.com/dtinth/JXA-Cookbook/wiki)

      __My Sites__
      :: [possible pieces](http://possiblepieces.com)
      :: [mhairston.com](http://mhairston.com)
      :: [tumblr](http://possiblepieces.tumblr.com)
      :: [snow](http://snowofbutterflies.com)

      __SuperCollider__
      :: [home](http://supercollider.sourceforge.net/)
      :: [wiki](http://supercollider.sourceforge.net/wiki/)
      :: [source](http://supercollider.git.sourceforge.net/git/gitweb.cgi?p=supercollider/supercollider;a=tree)
      :: [sc-users](http://quarks.sourceforge.net/quarkswww.listarc.bham.ac.uk/marchives/sc-users/)
      :: [search sc-users](http://www.listarc.bham.ac.uk/lists/sc-users/search/)
      :: [sccode.org](http://sccode.org)

      * [Apple System Status](http://www.apple.com/support/systemstatus/)
      * [Google Apps Status](http://www.google.com/appsstatus#hl=en&v=status)

      [Random Lie](http://www.davesweboflies.com/random.cgi) (from Dave's Web of Lies)


  section

    :markdown

      ## Checklists

      [Weekly Review](evernote:///view/709681/s6/76fb1fd7-0308-45cc-897e-97c95faed06c/76fb1fd7-0308-45cc-897e-97c95faed06c/) <small>(Evernote)</small>

      <blockquote id="qod-quote">
        ... loading ...
      </blockquote>
      <script src="http://quotesondesign.com/api/3.0/api-3.0.js" type="text/javascript" charset="utf-8"></script>

      ## Local

      * [cheatsheets](http://cheatsheets.dev) (VM: [cheatsheets](http://cheatsheets.10.0.2.2.xip.io))
      * [html-tests](http://html-tests.dev) (VM: [html-tests](http://html-tests.10.0.2.2.xip.io))
      * [angular](http://angular.dev) (VM: [angular](http://angular.10.0.2.2.xip.io))

      ## Just Browsing:

      * [Instapaper](http://instapaper.com)
      * [Hootsuite](http://hootsuite.com) (Twitter)
      * [Feedly.com](http://feedly.com)
      * [Twitter](http://twitter.com)
      * [Pinterest](http://pinterest.com)
      * [Instagram](http://instagram.com)
      * [Tumblr](http://tumblr.com/dashboard)
      * [Instapaper: Watch Online](https://www.instapaper.com/u/folder/37426/read-watch-online)
      * [SoundCloud](http://soundcloud.com)







